<table style="margin: 0px auto;max-width:600px;padding-left: 15px;padding-right: 15px;">
  <tbody>
    <tr>
      <td>
        <div>
          <div>อัปเดตสถานะชุดใบกำกับภาษีแล้ว ค้นหารายละเอียดด้านล่าง:</div>
          <br>
          <table border="1" cellspacing="0" width="100%">
            <tr>
              <td>อ้างอิงแบทช์</td>
              <td>[[${batchId}]]</td>
            </tr>
            <tr>
              <td>ชื่อไฟล์</td>
              <td>[[${fileName}]]</td>
            </tr>
            <tr>
              <td>วันที่ทำงาน</td>
              <td>[[${date}]]</td>
            </tr>
            <tr>
              <td>เวลาเริ่มต้น</td>
              <td>[[${startTime}]]</td>
            </tr>
            <tr>
              <td>เวลาสิ้นสุด</td>
              <td>[[${endTime}]]</td>
            </tr>
            <tr>
              <td>สถานะ</td>
              <td>[[${status}]]</td>
            </tr>
            <tr>
              <td>เหตุผลของความล้มเหลว</td>
              <td>[[${remarks}]]</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
